<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
    <h1>Welcome to My Web App</h1>

    <!-- Form to input the username -->
    <form asp-action="Index" method="post">
        <label for="userName">Enter your name:</label><br>
        <input type="text" id="userName" name="userName"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
